.tag {
  width: fit-content;
  position: relative;
  padding: 4px 12px;
}

.tag > span {
  font: normal 500 13px/130% 'Lato';
  color: var(--tag-color, var(--color-principal));
}

.tag > div {
  position: absolute;
  left: 0;
  top: 0;
  width: 100%;
  height: 100%;
  opacity: 0.25;
  background: var(--tag-color, var(--color-principal));
  border-radius: 30px;
}
