.container {
  position: relative;
  display: flex;
  width: 100%;
  padding: 8px 4px 8px 4px;
  border-radius: 4px;
  background: var(--color-fondo-95);
}

.list {
  width: 100%;
  display: flex;
  list-style: none;
  padding: 0;
  margin: 0;
  justify-content: space-between;
  position: relative;
}

.item {
  flex: 1;
  cursor: pointer;
  text-align: center;
  padding: 8px 12px;
  transition: color 0.3s ease;
}

.item.active {
  color: var(--color-font-active);
  z-index: 1;
}

.item:not(.active) {
  color: var(--color-gray-light);
}

.item:not(.active):hover {
  color: var(--color-font-active);
}

.indicator {
  position: absolute;
  bottom: 2px;
  border-radius: 4px;
  height: calc(100% - 4px);
  width: calc(100% / var(--items, 1));
  background-color: var(--color-fondo);
  transition: transform 0.3s ease;
}
